
.navbar{
    padding: 20px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo{
    width: 120px;

}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color:#49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px; 
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #242424;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}
.navbar button:hover{
    background-color: #ff6347;
}


    
.icon {
    display: flex; 
    gap: 20px; 
    align-items: center; 
    justify-content: center; 
    padding: 10px;
  }
  
.icon svg {
    font-size: 20px; /* Set icon size */
    color: #242424; /* Default color for icons */
    transition: color 0.3s ease, transform 0.3s ease; /* Add smooth transition */
  }
  
.icon svg:hover {
    color: #ff6347; /* Change color on hover */
    transform: scale(1.2); /* Slightly enlarge on hover */
  }
  